
.container-main-calendario{
    background-color: rgb(56, 153, 124);
}
.container-h1-fondo-calendario{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 20px;
h1{
color: greenyellow;
border: 5px solid greenyellow
}     

}
.imagen-calendario{
    max-width: 100%;
    border: 3px solid white;
}
.div-calendario-img{
display: flex;
justify-content: center;
    margin-top: 70px;
margin-bottom: 70px;
}
.container-body-calendario{
    background-color:rgb(56, 153, 124);
}