.article-texto-historia{
    font-family: 'Average', serif;
background-color:rgb(253, 250, 250);
margin-left: 5px;
h2{
    color: goldenrod;
    background-color: rgb(253, 253, 253);
    border-top: 2px solid goldenrod;
}
}
.h1dehistoria-container{
    display: flex;
    justify-content: center;
    padding: 20px;
    color: rgb(245, 153, 4);
    margin-top: 40px;
}
.h1-de-historia{
    border: 3px solid rgb(182, 182, 182);
}