.container-imagenes-principal{
   margin-top: 20px;
    display: flex;
    justify-content: center;
    max-width: 100%;
}
.imagen-principal-index1{
    max-width: 100%;
    box-shadow:
    inset 0 -3em 3em rgba(0,0,0,0.1),
          0 0  0 2px rgb(255,255,255),
          0.3em 0.3em 1em rgba(0,0,0,0.3);
}
.imagen-principal-index1:hover{
 transform: scale(1.2);
 transition:1.5s;
}
.imagen-principal-index2:hover{
    transform: scale(1.2);
    transition:1.5s;
   }
   .imagen-paloma:hover{
    transform: scale(1.2);
    transition:1.5s;
   }
.imagen-principal-index2{
    max-width: 100%;
    box-shadow:
    inset 0 -3em 3em rgba(0,0,0,0.1),
          0 0  0 2px rgb(255,255,255),
          0.3em 0.3em 1em rgba(0,0,0,0.3);
          margin-left: 2px;
     }
.imagen-paloma{
    max-width: 100%;
    box-shadow:
         inset 0 -3em 3em rgba(0,0,0,0.1),
               0 0  0 2px rgb(255,255,255),
               0.3em 0.3em 1em rgba(0,0,0,0.3);
               border: 3px solid goldenrod;
}
@media only screen and (max-width: 1023px){
   .container-imagenes-principal{
       flex-direction: column;
       align-items: center;
   }
}
.container-información{
    max-width: 100%;
    display: flex;
    justify-content: center;
margin-top: 80px;
}
.imagen-información{
    max-width: 100%;
    border: 4px solid white;
}
.h2-index{
   margin-top: 5px;
   text-align:center;
    color: #F07364;

}.acordion-container{
    margin-top: 60px;
    margin-bottom:60px;
}
.accordion-button{
    font-size: 17px;
   
}
.accordion-body{
    font-size: 18px;
}
.main-index{
    background-color: rgb(227, 246, 255);
}

.container-aside{
    display: flex;
    justify-content: center;
}
.imagen-paloma9999{
    max-width: 100%;
    margin-right: 2px;
}
.imagen-header-tercera{
    max-width: 100%; 
}
@media only screen and (max-width: 1180px){
    .container-aside{
        flex-direction: column;
        align-items: center;
}
.container-h2-y-links{
    padding: 70px;
}
 }
.container-h2-y-links {
    
    background-color: #042a41;
    color: gold;
    margin-right: 2px;
  
    a{
        color:chartreuse;
        font-size: 15px;
        border-bottom: 2px solid chartreuse ;
        
    }
}
.container-h1-index{
    margin-top: 20px;
    border:2px solid white;
    background-color: rgb(110, 187, 231);
    color: rgb(255, 255, 255);
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.container-video{
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin-top: 70px;
}

.boxSep{
    background-color:#f7f7f7;
    border: 2px solid #ccc;
    margin:10px;
    display:inline-block;
}

